/* 
  import file scss
  @import 'variables';
*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.row {
    margin-top: 66px;
}

.container {
    margin-top: 66px;
}

.login-form-part {
    display: flex;
    justify-content: center;
}

.login-btn {
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(calc(-50%));
}

.create-course-btn,
.edit-course-btn,
.search-course-btn {
    margin-left: calc(380px / 2);
    transform: translateX(calc(-50%));
}

.input-custom {
    width: 380px;
}

.search-page,
.create-page,
.edit-page {
    display: flex;
    justify-content: center;
}
