<div style='width: 100%; text-align: center; margin-top: 66px'>
    <h3 style='margin: 30px;'>{{course.description}}</h3>
    <iframe
        width='699'
        height='393'
        src='https://www.youtube.com/embed/{{course.videoId}}'
        title='YouTube video player'
        frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
        allowfullscreen
    ></iframe>
</div>

<script type='text/javascript'>
    document.title = "F8 Education | Khóa học";
</script>