<div class='container'>
    <div class='create-page'>
        <div class='create-page-main'>
            <h2 class='mt-2 mb-4'>Tạo khóa học</h2>
            <form method='POST' action='/courses/store' style='width: 380px;'>
                <div class='form-group'>
                    <label for='name'>Tên</label>
                    <input class='form-control input-custom' name='name' />
                </div>
                <div class='form-group'>
                    <label for='description'>Mô tả</label>
                    <input
                        class='form-control input-custom'
                        name='description'
                    />
                </div>
                <div class='form-group'>
                    <label for='image'>Đường dẫn hình ảnh</label>
                    <input class='form-control input-custom' name='image' />
                </div>
                <div class='form-group'>
                    <label for='videoId'>Video ID</label>
                    <input class='form-control input-custom' name='videoId' />
                </div>
                <button
                    type='submit'
                    class='btn btn-primary create-course-btn'
                >TẠO</button>
            </form>
        </div>
    </div>
</div>

<script type='text/javascript'>
    document.title = "F8 Education | Tạo khóa học";
</script>