<form method='POST' action='/courses/store' class='m-4'>
    <div class='form-group'>
        <label for='name'>Name</label>
        <input class='form-control' name='name' />
    </div>
    <div class='form-group'>
        <label for='description'>Description</label>
        <input class='form-control' name='description' />
    </div>
    <div class='form-group'>
        <label for='image'>Image URL</label>
        <input class='form-control' name='image' />
    </div>
    <div class='form-group'>
        <label for='videoId'>Video ID</label>
        <input class='form-control' name='videoId' />
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
</form>

<script type='text/javascript'>
    document.title = "F8 Education | Create course";
</script>