<div class='container'>
    <h2 class='mt-4 mb-4'>Cập nhật khoá học</h2>
    <form method='POST' action='/courses/store'>
        <div class='form-group'>
            <label for='name'>Name</label>
            <input class='form-control' name='name' value='{{course.name}}' />
        </div>
        <div class='form-group'>
            <label for='description'>Description</label>
            <input
                class='form-control'
                name='description'
                value='{{course.description}}'
            />
        </div>
        <div class='form-group'>
            <label for='image'>Image URL</label>
            <input class='form-control' name='image' value='{{course.image}}' />
        </div>
        <div class='form-group'>
            <label for='videoId'>Video ID</label>
            <input
                class='form-control'
                name='videoId'
                value='{{course.videoId}}'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>

<script type='text/javascript'>
    document.title = "F8 Education | Edit course";
</script>