<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <a
        class='navbar-brand'
        href='#'
        onclick="(() => window.location.href = '/')()"
    >F8 Education</a>
    <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
    >
        <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item active'>
                <a class='nav-link' href='/'>
                    Home
                    <span class='sr-only'>(current)</span>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/search'>Search</a>
            </li>
            <li class='nav-item dropdown'>
                <a
                    class='nav-link dropdown-toggle'
                    href='#'
                    id='navbarDropdown'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false'
                >
                    Courses
                </a>
                <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                    <a class='dropdown-item' href='/courses/html-css'>HTML, CSS
                        từ zero đến hero</a>
                    <a class='dropdown-item' href='/courses/reactjs'>ReactJS cơ
                        bản</a>
                    <a
                        class='dropdown-item'
                        href='/courses/nodejs-and-expressjs'
                    >NodeJS & ExpressJS</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='/'>Các khóa học khác</a>
                </div>
            </li>
        </ul>
        <a href="/login" class='btn btn-outline-success my-2 my-sm-0'>Login</a>
    </div>
</nav>