<div class='mt-16'>
    <div class='row'>
        {{#each courses}}
            <div class='card' style='width: 18rem;'>
                <img class='card-img-top' src={{courses.image}} />
                <div class='card-body'>
                    <h5 class='card-title'>{{courses.name}}</h5>
                    <p class='card-text'>{{courses.description}}</p>
                    <a href='#' class='btn btn-primary'>HỌC NGAY</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<span>{{courses}}</span>