<div class='container'>
    <h2 class='mt-4 mb-4'>Tìm kiếm</h2>
    <form method='get'>
        <div class='form-group'>
            <label>Nhập từ khóa...</label>
            <input type='text' name='keyword' class='form-control' />
        </div>
        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>

<script type='text/javascript'>
    document.title = "F8 Education | Tìm kiếm";
</script>