<div class='container'>
    <div class='search-page'>
        <div class='search-page-main'>
            <h2 class='mt-2 mb-4'>Tìm kiếm khóa học</h2>
            <form method='get' style='width: 380px'>
                <div class='form-group'>
                    <label>Nhập khóa học muốn tìm kiếm...</label>
                    <input
                        type='text'
                        name='keyword'
                        class='form-control input-custom'
                    />
                </div>
                <button
                    type='submit'
                    class='btn btn-primary search-course-btn'
                >Tìm kiếm</button>
            </form>
        </div>
    </div>
</div>